body {
    font-family: 'Arial', sans-serif;
    background-image:url("background.jpg");
    margin: 0;
    padding: 0;
    color:white;
}

header {
    
    color: #fff;
   

    padding: 30px;
    text-align: center;
    position:relative;
    height:40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

header h1{
    line-height:2px;
    font-family: 'Lobster', sans-serif;
    font-weight:400;
    color:white;
    font-size:70px;
    margin-right: 450px;
    
    text-shadow: 5px 3px 3px black;
}


nav {
    display:flex;
    justify-content:space-around;
    margin-left: ;
}
nav ul {
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: space-around;
    
}

nav ul li {
    display: inline;
    margin-right: 10px;
      
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
    padding:5px;
    border-radius:8%;
}

nav a:hover{
    border:1px solid rgb(8, 8, 8);
    padding:5px;
    border-radius:8%;
    background-color: #f7f2f2;
    color:black;
}
section {
    margin: 20px;
}

#contact-form, #contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #faf5f5;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #747272;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #20201f;
}
button:active{
    background-color: rgb(10, 10, 10);
}

#contact-info {
    text-align: center;
}


#contact-info p a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}

address {
    margin-top: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}