body {
    background-image: url("background.jpg");
    background-size: 900px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color:rgb(243, 236, 236);
}

header {
    
    color: #fff;
   

    padding: 30px;
    text-align: center;
    position:relative;
    height:40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

header h1{
    line-height:2px;
    font-family: 'Lobster', sans-serif;
    font-weight:400;
    color:white;
    font-size:70px;
    margin-right: 450px;
    
    text-shadow: 5px 3px 3px black;
}


nav {
    display:flex;
    justify-content:space-around;
    margin-left: ;
}
nav ul {
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: space-around;
    
}

nav ul li {
    display: inline;
    margin-right: 10px;
      
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
    padding:5px;
    border-radius:8%;
}

nav a:hover{
    border:1px solid rgb(8, 8, 8);
    padding:5px;
    border-radius:8%;
    background-color: #f7f2f2;
    color:black;
}

section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer {
    background:white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0px 0px 20px black;
}

.offer img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}


footer {
    background-color: #000000;
    color: #fff;
    text-align: center; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}
